html {
  background-color: #f6f6f6;
  font-family: Helvetica, sans-serif;
}

body {
  padding-left: 20%;
  padding-right: 20%;
  font-weight: 200;
  color: #12151C;
}

h1, h2, h3 {
  color: #5E97E7;
}

h4 {
  color: gray;
}

button {
    display: block;
    background-color: #5E97E7;
    border: none;
    line-height: 2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}

button:hover {
  background-color: #446FB3;
  cursor: pointer;
}

textarea {
  width: 90%;

}

img {
  max-width: 90%;
}

.loggedInHeader button {
  display: inline-block;
  width: 24%;
  margin-left: 1%;
}

.search_area {
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
}

.search_bar {
  display: inline-block;

  line-height: 2.5;
  width: 80%;
  border: 1px solid #5E97E7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.search_bar:focus {
  outline: none;
}

/*.search_button {
  border: 1px solid #5E97E7;
  display: inline-block;
  width: auto;
  background-color: #5E97E7;
  color: white;
  border-radius: 4px;
  line-height: 2;
}*/

.search_button:hover {
  background-color: #446FB3;
  cursor: pointer;
}

input[type='submit'] {
  border: 1px solid #5E97E7;
  display: inline-block;
  min-width: 18%;
  background-color: #5E97E7;
  color: white;
  border-radius: 4px;
  line-height: 2;
  -webkit-appearance: none;
}

input[type='submit']:hover {
  background-color: #446FB3;
  cursor: pointer;
}

.login {
  margin-left: 20%;
  padding-left: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 4px;
}

.login p {
  margin-bottom: 0%;
  color: #12151C;
}

.login input[type='text'], .login input[type='password'] {
  width: 60%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border:solid 1px #5E97E7;
  padding: 5px;
}

.login input[type='text']:focus, .login input[type='password']:focus {
  border:solid 1px #446FB3;
  outline: none;
}

.login input[type='submit'] {
  margin-top: 5%;
}

.renew {
  background-color: rgba(0,0,0,0);
  color: gray;
  font-style: italic;
  text-decoration: underline;
  margin-left: 12%;
}

.renew:hover {
  background-color: gainsboro;
  color: gray;
}

.loginButton {
  width: 62%;
}

.signUpButton {
  background-color: gray;
  text-align: center;
  width: 20%;
  margin-left: 20%;
  margin-top: 2%;
}

.signUpButton:hover {
  background-color: darkgray;
}

.resetPassword {
  /*border-top: 1px solid darkgray;*/
  margin-top: 10%;
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */

}

@media only screen and (max-width: 767px) {
    /* phones */
    body {
      width: 100%;
      padding-left: 2%;
      padding-right: 2%;
    }

    .loggedInHeader button {
      display: block;
      width: 90%;
      text-align: center;
      line-height: 3;
    }

    .search_bar {
      width: 87%;
      margin-bottom: 3%;
    }

    input[type='submit'] {
      width: 90%;
      margin-bottom: 5%;
    }

    .login {
      margin-left: 2%;

    }

    .signUpButton {
      width: 90%;
      margin-left: 0%;
    }

    .renew {
      margin-left: 25%;
    }

    .login input[type='text'], .login input[type='password'] {
      width: 90%;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}

/* Style the placeholders */
::-webkit-input-placeholder { line-height: 2; }
::-moz-placeholder { line-height: 2; } /* firefox 19+ */
:-ms-input-placeholder { line-height: 2; } /* ie */
input:-moz-placeholder { line-height: 2; }